<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <simpledeliverydate>
            <general>
                <status>0</status>
            </general>
            <processing_settings>
                <process_order_today_time_limit>23,59,59</process_order_today_time_limit>
            </processing_settings>
            <delivery_settings>
                <enable_open_delivery_date>0</enable_open_delivery_date>
                <open_delivery_range_days>1</open_delivery_range_days>
            </delivery_settings>
            <frontend>
                <show_time_limit>0</show_time_limit>
            </frontend>
        </simpledeliverydate>
    </default>
</config>
